@model Product
<link rel="stylesheet" href="~/css/hover.css">
<div class="cardmain">
<div class="card mb-5">
    <img class="card-img-top" src="~/img/@Model.ImgUrl" alt="">
    <div class="card-body">
        <h5 class="title" style="font-family: 'Times New Roman', Times, serif;">@Model.Name</h5>
        <p class="text">@Model.Description</p>
        <h6 class="text-muted">
            <i class="fa fa-dollar"></i>@Model.Price
            
        </h6>
        
        <div class="card-footer text-center" style="background-color: white;">
           <a asp-controller="products" asp-action="details" asp-route-id="@Model.Url" class="btn btn-primary btn-sm">Details <i class="fa fa-info-circle ml-1" ></i></a>
          </div>
    </div>
</div> 
</div>

