 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Welcome to the our new <i>Generation</i> Online Shopping web site. You can buy or sell anything you want!</p>
            </div>
        </div>
    </header>