@* Search Bar Partial *@
<div class="header-center">
    <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
        <form action="/search" method="get">
            <div class="header-search-wrapper search-wrapper-wide">
                <label for="q" class="sr-only">Search</label>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
            </div><!-- End .header-search-wrapper -->
        </form>
    </div><!-- End .header-search -->
</div>